* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "new-hero", sans-serif;
}

body {
  height: 100vh;
  background: radial-gradient(
    circle 800px at top left,
    rgb(46, 188, 236),
    rgb(1, 1, 61)
  );
  color: white;
  padding: 10vh 0;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    animation: scaleBackground 10s ease-in-out infinite alternate;
    transform-origin: top left;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scaleBackground {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
